{% extends "layout.njk" %}
{% block head %}
    <title>Error 404 - Not found</title>
{% endblock %}
{% block content %}
    <div class="error">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/13465e72449867.5be82b98aea56.png" alt="Error 404">
    </div>
{% endblock %}
