{% extends "layout.njk" %}
{% block head %}
    <title>Sobre</title>
{% endblock %}
{% block content %}
    <section>
        <div id="wrapper">
            <a href="/"><img src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactnative/2.2.0/1557162274650/Microsoft.VisualStudio.Services.Icons.Default" alt="Logo Rocketseat"></a>
        </div>

        <div class="informacoes">
            <h1>ROCKETSEAT</h1>
            <h2>A menor distância entre você e os seus objetivos</h2>
            <ul class="lista">
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
                <li>NODE JS</li>
                <li>REACT</li>
                <li>REACT NATIVE</li>
            </ul>
        </div>
    </section>

    <footer>
        <a href="/">GitHub</a>
        <a href="/">Instagram</a>
        <a href="/">Facebook</a>
    </footer>
{% endblock %}
