{% extends 'home/layout-home.njk' %}

        {% block links %}
        <link rel="stylesheet" href="/css/home/home.css">
        {% endblock links %}

        {% block search %}
            {% include 'home/partials/search.njk' %}
        {% endblock %}
                
        {% block hero %}
            <div class="hero">
                <div class="slogan">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </div>
                <div class="imagem-mascote">
                    <img src="/assets/chef.png" alt="Mascote Foodfy">
                </div>
            </div>
        {% endblock hero %}

        {% block main %}
            <div class="main">
                <h3>Receitas mais recentes</h3>

                {% include 'home/partials/grid-receitas.njk' %}
            </div>

            <div class="pagination"
                data-page={{pagination.page}}
                data-total={{pagination.total}}
                data-filter={{filter}}
            ></div>
        {% endblock main %}

        {% block footer %}
            <footer>
                <p>Todos os direitos reservados - Foodfy</p>
            </footer>
        {% endblock footer %}

        {% block scripts %}
        <script src="/scripts/pagination.js"></script>
        {% endblock %}