<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head%}
            <title>Foodfy Admin</title>
        {% endblock %}
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <header class="admin">
            <div class="container">
                <div class="logo">
                    <a href="/admin"><img src="/white-logo.png" alt="Logo Foodfy"></a>
                </div>
            </div>
        </header>

        <div class="menu-container">
            {% block content %}{% endblock %}
        </div>
    </body>
    <script src="/script.js"></script>
</html>