<div class="search">
    <form action="/" method="get">
        <input type="text" name="filter" value="{{filter}}" placeholder="Buscar uma receita">
        <button type="submit">Buscar</button>
    </form>
</div>