{% extends 'home/layout-home.njk'%}

{% block main %}
    <div class="sobre">
        <div>
            <h2>Sobre o Foodfy</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates fugit optio aliquid id, hic nisi culpa nemo, officiis minus molestias eum veniam mollitia delectus vero consequatur. Consectetur sunt similique ea. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates fugit optio aliquid id, hic nisi culpa nemo, officiis minus molestias eum veniam mollitia delectus vero consequatur. Consectetur sunt similique ea. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates fugit optio aliquid id, hic nisi culpa nemo, officiis minus molestias eum veniam mollitia delectus vero consequatur. Consectetur sunt similique ea. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates fugit optio aliquid id, hic nisi culpa nemo, officiis minus molestias eum veniam mollitia delectus vero consequatur. Consectetur sunt similique ea.</p>
        </div>
        <div>
            <h2>Como tudo começou</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates fugit optio aliquid id, hic nisi culpa nemo, officiis minus molestias eum veniam mollitia delectus vero consequatur. Consectetur sunt similique ea. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates fugit optio aliquid id, hic nisi culpa nemo, officiis minus molestias eum veniam mollitia delectus vero consequatur. Consectetur sunt similique ea.</p>
        </div>
        <div>
            <h2>Nossas receitas</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates fugit optio aliquid id, hic nisi culpa nemo, officiis minus molestias eum veniam mollitia delectus vero consequatur. Consectetur sunt similique ea. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates fugit optio aliquid id, hic nisi culpa nemo, officiis minus molestias eum veniam mollitia delectus vero consequatur. Consectetur sunt similique ea.</p>
        </div>
    </div>
{% endblock main %}

{% block footer %}
    <footer>
        <p>Todos os direitos reservados - Foodfy</p>
    </footer>
{% endblock footer %}